@font-face {
    font-family: 'Alegreya';
    src: url('alegreya-bold-webfont.woff2') format('woff2'),
         url('alegreya-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya';
    src: url('alegreya-bolditalic-webfont.woff2') format('woff2'),
         url('alegreya-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya';
    src: url('alegreya-italic-webfont.woff2') format('woff2'),
         url('alegreya-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya';
    src: url('alegreya-regular-webfont.woff2') format('woff2'),
         url('alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('alegreyasc-bold-webfont.woff2') format('woff2'),
         url('alegreyasc-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Alegreya SC';
    src: url('alegreyasc-bolditalic-webfont.woff2') format('woff2'),
         url('alegreyasc-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya SC';
    src: url('alegreyasc-italic-webfont.woff2') format('woff2'),
         url('alegreyasc-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Alegreya SC';
    src: url('alegreyasc-regular-webfont.woff2') format('woff2'),
         url('alegreyasc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gentium Book Basic';
    src: url('genbkbasb-webfont.woff2') format('woff2'),
         url('genbkbasb-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gentium Book Basic';
    src: url('genbkbasbi-webfont.woff2') format('woff2'),
         url('genbkbasbi-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gentium Book Basic';
    src: url('genbkbasi-webfont.woff2') format('woff2'),
         url('genbkbasi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gentium Book Basic';
    src: url('genbkbasr-webfont.woff2') format('woff2'),
         url('genbkbasr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
